.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 29.1rem;
  width: 100%;
  gap: 1.4rem;
  // padding: 2.7rem 3.1rem 2rem 2rem;
  padding: 2.7rem 0 2rem 0;
  align-items: start;
  height: 100%;
  border-right: 1px solid $grey-light-color;
  // border-radius: 0 1rem 1rem 0;
  @media(max-width: 768px) {
    border-right: none;
    max-width: 100%;
    max-height: 100vh;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: $black-color;
    margin  : 0 3.1rem 0 2rem;
  }
  &__subtitle {
    font-weight: 400;
    margin  : 0 3.1rem 0 2rem;
    font-size: 1.4rem;
    color: $grey-color;
    line-height: 120%;
  }

  &__input {
    margin  : 0 3.1rem 0 2rem;
    border: 1.5px solid #e9ecef;
    border-radius: 0.8rem;
    padding: 1.4rem 1.6rem;
    width: 24rem;
    height: 4.9rem;
    color: $grey-color;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    &:focus {
      outline: none;
    }
    @media(max-width: 425px) {
      width: auto;
      margin: 0;
      align-self: center;
    }
  }

  &__users-list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: start;
    width: 100%;
    padding:0 3.1rem 1rem 2rem;
    // overflow-x: hidden;

    overflow: scroll; /* Позволяет прокрутку */
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari и Chrome */
    }
    &__item {
      display: flex;
      width: 100%;
      height: 7rem;
      border-radius: 1rem;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      background: $white-color;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
      &__info {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        align-items: start;
        border-left: 1px solid $grey-light-color;
        gap: 0.5remw;
        &__name {
          font-weight: 600;
          font-size: 1.4rem;
          color: $black-color;
          line-height: 120%;
        }
        &__email {
          font-weight: 400;
          font-size: 1.4rem;
          color: $grey-color;
          line-height: 120%;
        }
      }
    }
    // Active item
    &__item-active {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      .sidebar__users-list__item__info {
        background: $grey-light-color;
        flex: 1;
        border-radius: 0 1rem 1rem 0;
      }
    }
  }
}
