.home-page {
  height: 100vh;
  &__wrapper {
    display: flex;
    max-height: 57.5rem;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: #fdfdfd;
    margin: 0 5rem;
    border-radius: 1rem;
    @media(max-width: 1101px) {
      max-height: none;
    }
    @media(min-width: 768px) and (max-width: 1101px) {
      min-height: 50rem;
    }
    @media(max-width: 768px) {
      flex-direction: column;
    }
  }
  @media(max-width: 1101px) {
    height: auto;
  }
}
